<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Преподаватели</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <style>
      .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px; /* Set the fixed height of the footer here */
      line-height: 60px; /* Vertically center the text there */
      background-color: #f5f5f5;
      }
    </style>
</head>
<body>
<header th:insert="Blocks/HeaderAuth :: header"></header>
<div class="container back pt-5 pb-5" style="background-color:#f5f5f5">
    <h2 class="text">Список учебных дисциплин</h2>
    <h5 class="pb-4">Группа : БИВТ-20-3</h5>
    <table class="table table-bordered" th:each="el : ${subject}">
        <a th:text="${el.id} + ' . ' + ${el.subject}"></a>
    </table>
</div>
<footer th:insert="Blocks/footer :: footer"></footer>
</body>
</html>