<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom" style = "background-color:#f5f5f5">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
            <span class="fs-4">Synergy University</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <div ><h3 class="p-2 text-dark text-decoration-none" th:inline="text">[[${#httpServletRequest.remoteUser}]] </h3></div>

            <div class >
                <form class="p-2 text-dark text-decoration-none" th:action="@{/logout}" method="post">
                    <input type="submit" value="Выйти"/>
                </form>
            </div>
        </nav>

    </div>
</div>